html {
  height: 100%;
  width: 100%;
}

body {
  margin:0px;
  height: 100%;
  width: 100%;
}

div.navleft {
  display: inline-block;
  float: left;
  width: 230px;
}

div.navright{
  display: inline-block;
  float: right;
  width: auto;
}

form {
  float: left;
  margin-top: 3px;
}

img.logo {
  height: 50px;
}

a.logo {
  height: 0px;
  text-decoration: none;
}

img.profile_pic {
  height: 45px;
  border-radius: 50%;
  padding-right: 5px;
  float: right;
}

img.upload {
  height: 40px;
  padding-right: 5px;
  float: right;
}

img.search {
  height: 28px;
}

button.search {
  position: relative;
  top: 3px;
  background: #ddd;
  border: none;
}

button.search:hover {
  background: #ccc;
}

a.profile {
  height: 0px;
  text-decoration: none;
}

a.upload {
  height: 0px;
  text-decoration: none;
}

input.searchbar {
  border: none;
  font-family: system-ui;
  padding: 5px;
  font-size: 20px;
  width: 70%;
  height: 35px;
}

div.navbar{
  padding: 10px;
  width: auto;
  margin-top: 0px;
  background-color: #F0F0F0;
  height: 50px;
  box-shadow: 0px 0px 5px grey;
}

div.body-container {
  width: 100%;
  height: calc(100% - 70px);
}

div.leftMenu{
  float: left;
  height: calc(100% - 5px);
  width: 250px;
  margin-top: 5px;
  background-color: #FAFAFA;
}

input.leftMenuItems {
  border: 0px;
  outline: none;
  margin: 5px 2px;
  padding-left: 20px;
  display: block;
  width: 100%;
  font-family: system-ui;
  font-size: 24px;
  text-align: left;
  background-color: #FAFAFA;
}

input.leftMenuItems:hover {
  background-color: #EFEFEF;
}

@media only screen and (max-width: 650px){
  div.navleft {
    position: absolute;
    visibility: hidden;
  }

  div.navright {
    position: absolute;
    width: 100%;
  }

  div.leftMenu {
    height: auto;
    width: 100%;
  }

}
