html {
  height: 100%;
  width: 100%;
}

body {
  margin:0px;
  height: 100%;
  width: 100%;
}

img.logo {
  height: 50px;
}

a.logo {
  height: 0px;
  text-decoration: none;
}

img.profile_pic {
  height: 45px;
  border-radius: 50%;
  padding-right: 5px;
}

img.upload {
  height: 40px;
  padding-right: 5px;
}

img.search {
  height: 30px;
}

button.search {
  position: relative;
  top: -13px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

button.search:hover {
  background: #ccc;
}

a.profile {
  height: 0px;
  text-decoration: none;
}

a.upload {
  height: 0px;
  text-decoration: none;
}

div.searchbar{
  display: inline-block;
  width: 70%;
}

div.layoutRight {
  float: right;
  width: 7%;
}

input.searchbar {
  border: none;
  position: relative;
  top: -18px;
  font-family: system-ui;
  padding: 5px;
  font-size: 20px;
  width: 60%;
  height: 35px;
}

input.searchbutton {
  position: relative;
  top: -20px;
}

div.layoutBar {
  padding: 10px;
  width: auto;
  margin-top: 0px;
  background-color: #F0F0F0;
  height: 50px;
  box-shadow: 0px 0px 5px grey;
}

div.content {
  width: 100%;
  height: calc(100% - 70px);
}

div.leftMenu{
  float: left;
  height: calc(100% - 5px);
  width: 250px;
  margin-top: 5px;
  background-color: #FAFAFA;
}

input.leftMenuItems {
  border: 0px;
  outline: none;
  margin: 5px 2px;
  padding-left: 20px;
  display: block;
  width: 100%;
  font-family: system-ui;
  font-size: 24px;
  text-align: left;
  background-color: #FAFAFA;
}

input.leftMenuItems:hover {
  background-color: #EFEFEF;
}
