<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>dotdot</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link rel="stylesheet" type="text/css" href="../styles/profile.css">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/icon.png" />
  <script type="text/javascript" src="../scripts/user.js"></script>
</head>

<body>
  <div class="navbar">
    <div class="navleft">
      <a class="logo" href="./index.html">
          <img alt="" class="logo" src="../assets/dotdot_logo.png" />
      </a>
      <form action="./search.html" method="GET">
        <input class="searchbar" id="search-input" name="q" type="search" placeholder="Search">
        <button class="button" type="">
          <img alt="" class="search" src="../assets/search.png" />
        </button>
      </form>
    </div>
    <div class="navright">
      <a class="profile" href="./profile.html">
          <img alt="" class="profile_pic" src="../assets/anon.jpg" />
      </a>
      <a class="upload" href="./upload.html">
          <img alt="" class="upload" src="../assets/upload.png" />
      </a>
      <p class="username" id="display-name">Hello</p>
    </div>
  </div>
  <div class="body-container">
    <div class="leftMenu">
        <a class="leftMenuItems" href="./index.html" >Home</a>
        <a class="leftMenuItems" href="./index.html" >Hot</a>
        <a class="leftMenuItems" href="./index.html" >Favorites</a>
        <a class="leftMenuItems" href="./login.html" onclick="logout()">Logout</a>
    </div>
    <div class="body-right">
      <div class="cover-top-bar">
        <img alt="" class="cover-pic" src="../assets/cover-pic.jpg">
      </div>
      <div class="profile-top-bar">
        <div class="left-space">
        </div>
        <img alt="" class="profile-pic" src="../assets/anon.jpg">
        <!-- <img class="pic" src="./assets/anon.jpg"> -->
        <!-- <div class="line"></div> -->
        <div class="right-space">
          <hr class="line-right">
        </div>
        <div class="customize-btn">
          <h1 style="font-weight: 300" id="profile-name">Thinking Man</h1>
        </div>
      </div>

      <h1>Recently Uploads</h1>
      <div class="upload-container">
        <div class="upload-pic">
          <a target="_blank" href="../artwork/1.jpg">
            <img alt="" src="../artwork/1.jpg" >
          </a>
        </div>
        <div class="upload-pic">
          <a target="_blank" href="../artwork/2.jpg">
            <img alt="" src="../artwork/2.jpg" >
          </a>
        </div>
        <div class="upload-pic">
          <a target="_blank" href="../artwork/3.jpg">
            <img alt="" src="../artwork/3.jpg" >
          </a>
        </div>
        <div class="upload-pic">
          <a target="_blank" href="../artwork/4.jpg">
            <img alt="" src="../artwork/4.jpg" >
          </a>
        </div>
      </div>

      <h1>Albums</h1>
      <div class="upload-container">
        <div class="upload-pic">
          <a target="_blank" href="../assets/dog.jpeg">
            <img alt="" src="../assets/dog.jpeg" >
          </a>
        </div>
        <div class="upload-pic">
          <a target="_blank" href="../assets/cat.jpg">
            <img alt="" src="../assets/cat.jpg" >
          </a>
        </div>
        <div class="upload-pic">
          <a target="_blank" href="../artwork/6.jpg">
            <img alt="" src="../artwork/6.jpg" >
          </a>
        </div>
        <div class="upload-pic">
          <a target="_blank" href="../artwork/5.jpg">
            <img alt="" src="../artwork/5.jpg" >
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../scripts/session.js"></script>
<script>
  document.getElementById('profile-name').innerHTML = localStorage.getItem('login-username');
</script>
</html>
