<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Registration Page</title>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/reg.css" />
  <script type="text/javascript" src="../scripts/user.js"></script>
</head>

<body>
  <div class="container">
    <div class="login-title">
      <img alt="" class="login-logo" src="../assets/dotdot_logo.png">
    </div>
    <div class="reg-title">
      <p>Registration</p>
    </div>
    <div class="reg-form">
      <form>
        <input class="reg-input" id="username" type="text" placeholder="Username">
        <input class="reg-input" id="password" type="password" placeholder="Password">
        <input class="reg-input" type="password" placeholder="Confirm Password">
        <input class="reg-input" id="email" type="text" placeholder="Email">
        <input class="reg-input" type="text" placeholder="Confirm Email">
        <input class="reg-input" id="checkbox" type="checkbox">Content Creator<br>
        <!-- <input class="reg-submit" type="submit" onclick="submitForm()"> -->
        <input class="reg-submit" value="Submit" readonly onclick="submitRegistration()">
      </form>
    </div>
  </div>
</body>

</html>
