<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>dotdot</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css" >
  <link rel="shortcut icon" type="image/x-icon" href="../assets/icon.png" />
  <script type="text/javascript" src="../scripts/user.js"></script>
</head>
<body>
  <div class="navbar">
    <div class="navleft">
      <a class="logo" href="./index.html">
        <img alt=""  class="logo" src="../assets/dotdot_logo.png" />
      </a>
      <form action="./search.html" method="GET">
        <input class="searchbar" id="search-input" name="q" type="search" placeholder="Search">
        <button class="button" type="submit">
          <img alt=""  class="search" src="../assets/search.png" />
        </button>
      </form>
    </div>
    <div class="navright">
      <a class="profile" href="./profile.html">
        <img alt=""  class="profile_pic" src="../assets/anon.jpg" />
      </a>
      <a class="upload" href="./upload.html">
        <img alt=""  class="upload" src="../assets/upload.png" />
      </a>
      <p class="username" id="display-name">Hello</p>
    </div>
  </div>
  <div class="body-container">
    <div class="leftMenu">
      <a class="leftMenuItems" href="./index.html" >Home</a>
      <a class="leftMenuItems" href="./index.html" >Hot</a>
      <a class="leftMenuItems" href="./index.html" >Favorites</a>
      <a class="leftMenuItems" href="./login.html" onclick="logout()">Logout</a>
    </div>
    <div class="body-right">
      <div class="view-image">
        <img alt=""  class="body-image" src="../artwork/body.jpg">
        <div class="img-buttons">
          <input id="toggle-heart" type="checkbox" />
          <label for="toggle-heart">❤</label>
        </div>
      </div>
      <div class="view-rel">
        <h2 class="reg-font">Related Images</h2>
        <div class="rel-gallery">
          <img alt=""  src="../artwork/1.jpg">
        </div>
        <div class="rel-gallery">
          <img alt=""  src="../artwork/4.jpg">
        </div>
        <div class="rel-gallery">
          <img alt=""  src="../artwork/3.jpg">
        </div>
      </div>
      <div class="view-bottom">
        <h2 class="reg-font">Comments</h2>
        <form action="./view.html" class="chat-input" >
          <div class="comment-row">
            <textarea id="comment" placeholder="Leave a comment !"></textarea><br>
            <button class="button" type="submit">Submit</button>
          </div>
        </form>
        <div class="chat-container">
          <img alt=""  class="comment_pic" src="../assets/anon.jpg">
          <a class="profile-link" href="./profile.html">ThinkingMan</a><br>
          <span class="time">2/1/2018 6:02 PM</span>
          <p>すごい!</p>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../scripts/session.js"></script>
</html>
