html {
  height: 100%;
  width: 100%;
}

body {
  margin:0px;
  height: 100%;
  width: 100%;
}

div.navleft {
  display: inline-block;
  float: left;
  width: auto;
  margin: 10px;
}

div.navright{
  display: inline-block;
  float: right;
  width: auto;
  margin: 10px;
}

form  {
  float: right;
  margin-top: 3px;
  margin-left: 30px;
}

img.logo {
  height: 50px;
}

a.logo {
  height: 0px;
  text-decoration: none;
}

img.profile_pic {
  height: 45px;
  border-radius: 50%;
  padding-right: 5px;
  float: right;
}

img.upload {
  height: 40px;
  padding-right: 5px;
  float: right;
}

p.username {
  float: right;
  font-size: 20px;
  font-family: system-ui;
  position: absolute;
  right: 120px;
  top: 0px;
  height: 0px;
}

img.search {
  height: 28px;
}

button.button {
  position: relative;
  top: 3px;
  background: #ddd;
  border: none;
  font-family: system-ui;
  font-size: 16px;
}

button.button:hover {
  background: #ccc;
}

a.profile {
  position: absolute;
  right: 5px;
  height: 0px;
  text-decoration: none;
}

a.upload {
  position: absolute;
  right: 60px;
  height: 0px;
  text-decoration: none;
}

input.searchbar {
  border: none;
  font-family: system-ui;
  padding: 10px;
  font-size: 20px;
  width: 50%;
  height: 35px;
}

div.navbar{
  vertical-align: middle;
  min-width: 300px;
  width: 100%;
  margin-top: 0px;
  background-color: #F0F0F0;
  height: 70px;
  box-shadow: 0px 0px 5px grey;
}

div.body-container {
  width: 100%;
  height: 100%;
  display: table;
}

div.leftMenu{
  float: left;
  height: inherit;
  width: 250px;
  background-color: #FAFAFA;
  display: table-row;
}

div.body-right {
  float: right;
  height: calc(100% - 5px);
  width: calc(100% - 250px);
  text-align: center;
  display: table-row;
}

a.leftMenuItems {
  text-decoration: none;
  color: black;
  border: 0px;
  outline: none;
  margin: 5px 2px;
  padding-left: 20px;
  display: block;
  font-family: system-ui;
  font-size: 24px;
  text-align: left;
  background-color: #FAFAFA;
}

a.leftMenuItems:hover {
  background-color: #EFEFEF;
}

div.gallery {
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 10px;
}

div.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

div.search-result {
  width: 100%;
  height: 40px;
}

p.reg-font {
  text-align: left;
  font-size: 20px;
  font-family: system-ui;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

h2.reg-font {
  font-size: 20px;
  font-family: system-ui;
  font-weight: normal;
}

div.view-image {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

div.img-buttons {
  display: inline-block;

  height: 50px;
}

div.view-rel {
  margin: 75px;
  margin-top: 25px;
}

div.view-bottom {
  margin: 75px;
}

img.body-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

a.profile-link {
  color: black;
  text-decoration: none;
  font-family: system-ui;
  font-size: 20px;
  text-align: left;
}

a.profile-link:hover {
  text-shadow: -1px 0 1px gray, 0 1px 1px gray, 1px 0 1px gray, 0 -1px 1px gray;
}

div.rel-text {
  display: block;
  width: 100%;
  margin: 10px;
}

div.rel-gallery {
  width: 200px;
  height: 150px;
  display: inline-grid;
  margin: 10px;
}

div.rel-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

div.comment-row {
  width: 100%;
  margin-bottom: 10px;
}

form.chat-input {
  display: inline-block;
  width: 100%;
}

textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: system-ui;
}

[id='comment'] {
  width: 90%;;
}

div.chat-bubble {
  display: inline-block;
  width: 90%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

img.comment_pic {
  height: 45px;
  border-radius: 50%;
  float: left;
  margin: 20px;
}

span.time {
  color: #aaa;
}

@media only screen and (max-width: 650px){
  a.logo {
    position: absolute;
    visibility: hidden;
  }

  form {
    margin-left: 10px;
  }

  div.leftMenu, div.body-right {
    margin-top: 5px;
    height: auto;
    width: 100%;
  }

  div.view-image, div.view-rel, div.view-bottom {
    height: auto;
    width: 100%;
    margin: 5px;
  }

  img.body-image {
    width: 95%;
  }
}


/* Animate like button */
[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}

[for='toggle-heart'] {
  color: #aab8c2;
  font-size: 2em;
  cursor: pointer;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
}
